<header class="site-header">
    <nav class="nav">
        <!-- <div class="containter-fluid"> -->
            <!-- <div class="row"> --> 
            
            <!-- <div class="col"> -->
                
                <!-- <div class="containter-fluid"> -->
                    <a href="/" class="logo">BYU Configurable Computing Lab</a>
                    <!-- <h1>Hi</h1> -->

                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="col"> -->
                <!-- <div class="col-sm"> -->

                <!-- <h1>BYU Configurable Computing Lab2</h1> -->
                <!-- <div class="nav_ul"> -->
                <ul class="nav_ul">
                    
                    <a class="nav-link" href="/">Home</a>
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    {% if page.url == my_page.url %}
                    <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    <!-- <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}" style="color: {{ site.colors[forloop.index0] }};">{{ my_page.title }}</a> -->
                    {% else %}
                    <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    <!-- <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}" style="color: {{ site.colors[forloop.index0] }};">{{ my_page.title }}</a> -->
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->


    </nav>
</header>