.paper {
    .paper-title {
        font-weight: 200;
        margin-bottom: 5px;
    }

    .paper-authors {
        margin-bottom: 0;
    }

    .paper-conference {
        color: $grey-color-light;
        margin-bottom: 5px;
    }

    .paper-description {

    }

    margin: 5px 0;

    .hide {
        display: none;
    }
}

.year {
    margin-top: 25px;
}