.paper {
    .paper-title {
        font-weight: 200;
    }

    .paper-authors {
        margin-bottom: 0;
    }

    .paper-conference {
        color: $grey-color-light;
    }

    .paper-description {

    }

    margin: 25px 0;

    .hide {
        display: none;
    }
}