---
layout: default
title: Papers
permalink: /papers/
---


<div class="papers">

    {% assign years = site.data.papers | map: 'year' %}
    {% assign years_sorted = years | sort | reverse | uniq %}

    {% for year in years_sorted %}

        <h1 class="year">
            {{ year }}
        </h1>

        {% assign papers_sorted = site.data.papers | sort : "title" %}
        {% for paper in papers_sorted %}
            {% if paper.year == year %}
                <div class="paper">
                    <h4 class="paper-title">
                        {{ paper.title }}
                    </h4>
                    <p class="paper-authors">{{ paper.authors }}</p>
                    <p class="paper-conference">{{ paper.conference }}</p>
                    {% if paper.abstract %}
                        <div>
                            <a class="abstract" href="javascript:void(0)">Abstract</a>
                        </div>
                        <div class="hide" id="description">
                            <p class="paper-description">
                                {{ paper.abstract }}
                            </p>
                        </div>
                    {% endif %}
                    {% if paper.url %}
                        {% assign url_start = paper.url | slice: 0, 4 %}
                        <div>
                            {% if url_start == "http" %}
                                <a href="{{ paper.url }}" class="">Paper</a>
                            {% else %}
                                <a href="/assets/{{ paper.url }}" class="">Paper</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
