---
layout: default
title: People
permalink: /people
---

<div class="container container-people">
<h2>Faculty</h2>
<div class="current-faculty">
    
    <div class="row faculty">
    {% for person in site.data.faculty %}
            <div class="col-md-3 col-6 text-center">
                {% if person.image %}
                    <img src="{{ person.image }}" class="img-fluid w-100" alt="{{ person.name }}">
                {% else %}
                    <img src="{{ person.email | gravatar }}" alt="{{ person.name }}">
                {% endif %}
                <!-- <p class="student-degree">{{ person.name }}</p> -->
                 <h5 class="person-name">{{ person.name }}</h5>
                
                 <!-- {% if person.link %}
                    <p>{{ person.description }}</p>
                {% endif %}
                {% if person.link %}
                    <a href="{{ person.link }}">Personal Website</a>
                {% endif %}  -->

            </div>
            <!-- <div class="col-6 col-xs-8 col-sm-8">
                
            </div> -->
            {% endfor %}
        </div>
</div>


<h2>PhD Students</h2>

{% if site.data.phd_students %}
    <div class="current-students">
        <div class="row">
            {% assign sortedPhds = site.data.phd_students | sort: 'name' %}
            {% for person in sortedPhds %}
                <div class="col-md-3 col-6 text-center">
                    <div class="student">
                        {% if person.image %}
                            <img class="student-images" src="{{ person.image }}" alt="{{ person.name }}">
                        {% else %}
                            <img class="student-images" src="/images/no-image.jpg" alt="{{ person.name }}">
                        {% endif %}

                        {% if person.link %}
                            <h5 class="student-name">
                                <a href="{{ person.link }}">{{ person.name }}</a>
                            </h5>
                        {% else %}
                            <h5 class="student-name">{{ person.name }}</h5>
                        {% endif %}
                        <p class="student-degree">{{ person.degree }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endif %}


{% if site.data.masters_students %}

    <h2>Masters Students</h2>

    <div class="current-students">
        <div class="row">
            {% for person in site.data.masters_students %}
                <div class="col-md-3 col-6 text-center">
                    <div class="student">
                        {% if person.image %}
                            <img class="student-images" src="{{ person.image }}" alt="{{ person.name }}">
                        {% else %}
                            <img class="student-images" src="/images/no-image.jpg" alt="{{ person.name }}">
                        {% endif %}

                        {% if person.link %}
                            <h5 class="student-name">
                                <a href="{{ person.link }}">{{ person.name }}</a>
                            </h5>
                        {% else %}
                            <h5 class="student-name">{{ person.name }}</h5>
                        {% endif %}
                        <p class="student-degree">{{ person.degree }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endif %}

{% if site.data.undergrad_students %}
    <h2>Undergraduate Students</h2>


    <div class="current-students">
        <div class="row">
            {% for person in site.data.undergrad_students %}
                <div class="col-md-3 col-6 text-center">
                    <div class="student">
                        {% if person.image %}
                            <img class="student-images" src="{{ person.image }}" alt="{{ person.name }}">
                        {% else %}
                            <img class="student-images" src="/images/no-image.jpg" alt="{{ person.name }}">
                        {% endif %}

                        {% if person.link %}
                            <h5 class="student-name">
                                <a href="{{ person.link }}">{{ person.name }}</a>
                            </h5>
                        {% else %}
                            <h5 class="student-name">{{ person.name }}</h5>
                        {% endif %}
                        <p class="student-degree">{{ person.degree }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endif %}


<div class="alert alert-primary" role="alert">
    If you are intersted in being a researcher in the Configurable Computing Lab as a graduate or undergraduate student, please contact one of the above faculty to set up an appointment to talk.
</div>


{% if site.data.past_students %}

    <hr>

    <div class="past-students">
        <h2>Past Students</h2>

        <div class="mdl-grid">
            {% for student in site.data.past_students %}
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                        </div>
                        <div class="mdl-cell mdl-cell--10-col past-student-info">
                            <h4 class="past-student-name">{{ student.name }}</h4>
                            <span class="past-student-company">{{ student.company }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>