---
layout: default
title: Projects
permalink: /projects/
---

<h1 class="projects-title">Current Projects</h1>
<hr>
<div class="projects">
    {% assign sorted_projects = site.data.projects | sort: "order","last" %}
    {% for project in sorted_projects %}
    {% unless project.archive %}
    <div class="project">
        <h3 class="project-title">{{ project.name }}</h3>
        {% if project.images %}
        <div class="project-images row">
            {% for image in project.images %}
            <div class="col">
                <img class="project-image" src="/images/projects/{{image}}" />
            </div>
            {% endfor %}
        </div>

        {% endif %}
        <div class="project-description">
            {{ project.description | markdownify }}
        </div>

        <div>
            {% for url in project.urls %}
            <h5>
                <a href={{ url }}>
                    {{ url }}
                </a>
            </h5>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% endunless %}
    {% endfor %}
</div>
<h1 class="projects-title">Archive</h1>
<hr>
<div class="projects">
    {% for project in site.data.projects %}
    {% if project.archive %}
    <div class="project">
        <h3 class="project-title">{{ project.name }}</h3>
        {% if project.images %}
        <div class="project-images row">
            {% for image in project.images %}
            <div class="col">
                <img class="project-image" src="/images/projects/{{image}}" />
            </div>
            {% endfor %}
        </div>

        {% endif %}
        <div class="project-description">
            {{ project.description | markdownify }}
        </div>

        <div>
            {% for url in project.urls %}
            <h5>
                <a href={{ url }}>
                    {{ url }}
                </a>
            </h5>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</div>